<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
    <li>
        <a href="/usuarios" style="font-size: larger;">Usuarios</a> 
    </li>
    <li>
        <a href="/empleados" style="font-size: larger;">Empleados</a>
    </li>
    <li>
        <a href="/productos" style="font-size: larger;">Productos</a>
    </li>
</ul>